# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Env/keys
.env
.env.*

# Build/coverage
/dist/
/build/
/.cache/
coverage/

# Netlify/Serverless
.netlify/
functions-build/

# OS/Editors
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

# VSCode
.vscode/

# Misc
*.local
*.tmp

